.logo-container {
    z-index: 0;
    width: 1000px; /* Make the image twice as wide */
    height: 1537px; /* Make the image twice as high */
    position: absolute;
    top: -85%;
    right: -30%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0; //made it disappear incase it dont come back
    
    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(185deg) scaleX(-1) !important; /* Rotate the image 180 degrees and flip horizontally */
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(180deg) scaleX(-1); /* Rotate the image 180 degrees and flip horizontally */
        z-index: 1;
    }
}

// line for big letter on screen
.svg-container {
    stroke: #fff;
    stroke-width: 10;
}






