html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font-family: 300 11px/1.4 'Helvetica Neue','sans-serif';
  color: #444;
  /* background color */
  /* background: #022c43;  */
  background: #171717; 
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Media query for mobile screens */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
}